<header class="sticky top-0 z-50 bg-primary border-b border-border">
    <div class="flex items-center justify-between px-4">
        <div class="flex items-center gap-4">
            <button id="mobile-menu-btn" class="lg:hidden text-primary-foreground hover:bg-primary/80 p-2 rounded-md">
                <i id="menu-icon" class="fas fa-bars text-lg"></i>
                <i id="close-icon" class="fas fa-times text-lg hidden"></i>

            </button>
            <div class="flex items-center gap-3">
                <img src="../img/creditswitchlogoife.png" class="py-3 h-16" alt="Creditswitch Logo"/>
            </div>
        </div>
<!--        <button @click="toggleDark()"-->
<!--                class="px-4 py-2 bg-gray-800 text-white dark:bg-white dark:text-gray-900 rounded">-->
<!--            <i class="fa-solid fa-circle-half-stroke"></i>-->
<!--        </button>-->
    </div>
</header>