<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreditSwitch API Documentation</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../scripts/alpinejs.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link href="../css/app.css" rel="stylesheet"/>
<!--    <link href="../css/output.css" rel="stylesheet"/>-->

</head>
