<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreditSwitch API Documentation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../scripts/alpinejs.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <script defer>

</script>
    <style>
        .sidebar-transition {
            transition: transform 0.2s ease-in-out;
        }
    </style>
</head>
