@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-sidebar_color: rgb(18, 28, 45);
  --font-inter: "Inter", sans-serif;
}


/* For Chrome, Edge, and Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind's gray-800 */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #939495; /* Tailwind's blue-500 */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cccccd; /* Tailwind's blue-600 on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #b9babc #1f2937; /* thumb color | track color */
}
